<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <div class="container">
        <img src="/public/images/logo.png" alt="logo" class="logo"/>
        <h2>Fazer login</h2>

        <form method="post">
            <input type="email" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Senha" />
            <input type="submit" name="acao" value="Logar" />
            <button type="button" class="button" onclick="window.location.href='/cadastrar'">Cadastrar</button>
        </form>

        <p id="error-message" style="color: red;">
            <%= error || '' %>
        </p>
    </div>
</body>

</html>